Super/Web/UI_Web/Service References/Contabilita/Contabilita3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Super.Contabilita.Commands.Lotto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Super.Contabilita.Commands.Lotto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1338/Contabilita?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/CommonDomain.Core.Super.Messaging.ValueObjects" />
  <xs:import schemaLocation="http://localhost:1338/Contabilita?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CommonDomain.Core" />
  <xs:complexType name="UpdateLotto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/CommonDomain.Core" base="q1:CommandBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CommonDomain.Core.Super.Messaging.ValueObjects" minOccurs="0" name="Intervall" nillable="true" type="q2:Intervall" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UpdateLotto" nillable="true" type="tns:UpdateLotto" />
  <xs:complexType name="CreateLotto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/CommonDomain.Core" base="q3:CommandBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CreationDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CommonDomain.Core.Super.Messaging.ValueObjects" minOccurs="0" name="Intervall" nillable="true" type="q4:Intervall" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CreateLotto" nillable="true" type="tns:CreateLotto" />
  <xs:complexType name="DeleteLotto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/CommonDomain.Core" base="q5:CommandBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DeleteLotto" nillable="true" type="tns:DeleteLotto" />
</xs:schema>