Super/Web/UI_Console/Service References/ServiceReference1/Administration1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Super.Administration.Commands.AreaIntervento" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Super.Administration.Commands.AreaIntervento" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1338/Administration?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CommonDomain.Core" />
  <xs:complexType name="DeleteAreaIntervento">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/CommonDomain.Core" base="q1:CommandBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DeleteAreaIntervento" nillable="true" type="tns:DeleteAreaIntervento" />
  <xs:complexType name="UpdateAreaIntervento">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/CommonDomain.Core" base="q2:CommandBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="End" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Start" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UpdateAreaIntervento" nillable="true" type="tns:UpdateAreaIntervento" />
  <xs:complexType name="CreateAreaIntervento">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/CommonDomain.Core" base="q3:CommandBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CreationDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="End" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Start" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CreateAreaIntervento" nillable="true" type="tns:CreateAreaIntervento" />
</xs:schema>