Super/Web/UI_Console/Service References/ServiceReference1/Administration2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CommandService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CommandService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1338/Administration?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CommonDomain.Core" />
  <xs:complexType name="ExecuteRequest">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CommonDomain.Core" minOccurs="0" name="CommandBase" nillable="true" type="q1:CommandBase" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExecuteRequest" nillable="true" type="tns:ExecuteRequest" />
  <xs:complexType name="ExecuteResponse">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CommonDomain.Core" name="_validation" nillable="true" type="q2:CommandValidation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExecuteResponse" nillable="true" type="tns:ExecuteResponse" />
</xs:schema>