Super/Web/UI_Console/Service References/Contabilita/Contabilita3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Super.Contabilita.Commands.Impianto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Super.Contabilita.Commands.Impianto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1338/Contabilita?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CommonDomain.Core" />
  <xs:complexType name="DeleteImpianto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/CommonDomain.Core" base="q1:CommandBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DeleteImpianto" nillable="true" type="tns:DeleteImpianto" />
  <xs:complexType name="CreateImpianto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/CommonDomain.Core" base="q2:CommandBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CreateImpianto" nillable="true" type="tns:CreateImpianto" />
  <xs:complexType name="UpdateImpianto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/CommonDomain.Core" base="q3:CommandBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UpdateImpianto" nillable="true" type="tns:UpdateImpianto" />
</xs:schema>