Super/Web/UI_Console/Service References/Contabilita/Contabilita2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CommonDomain.Core.Super.Messaging.ValueObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CommonDomain.Core.Super.Messaging.ValueObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Interval">
    <xs:sequence>
      <xs:element name="_x003C_End_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_Start_x003E_k__BackingField" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Interval" nillable="true" type="tns:Interval" />
</xs:schema>