Super/Web/UI_Console/Service References/Contabilita/Contabilita7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1338/Contabilita?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CommonDomain.Core" />
  <xs:import schemaLocation="http://localhost:1338/Contabilita?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/CommandService" />
  <xs:element name="Execute">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CommonDomain.Core" minOccurs="0" name="command" nillable="true" type="q1:CommandBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CommandService" minOccurs="0" name="ExecuteResult" nillable="true" type="q2:ExecuteResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>