Super/Web/UI_Console/Service References/Contabilita/Contabilita5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Super.Contabilita.Commands.Impianto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Super.Contabilita.Commands.Impianto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1338/Contabilita?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CommonDomain.Core" />
  <xs:import schemaLocation="http://localhost:1338/Contabilita?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:1338/Contabilita?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/CommonDomain.Core.Super.Messaging.ValueObjects" />
  <xs:complexType name="DeleteImpianto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/CommonDomain.Core" base="q1:CommandBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Version" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DeleteImpianto" nillable="true" type="tns:DeleteImpianto" />
  <xs:complexType name="CreateImpianto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/CommonDomain.Core" base="q2:CommandBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CreationDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IdLotto" type="ser:guid" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CommonDomain.Core.Super.Messaging.ValueObjects" minOccurs="0" name="Period" nillable="true" type="q3:Intervall" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CreateImpianto" nillable="true" type="tns:CreateImpianto" />
  <xs:complexType name="UpdateImpianto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/CommonDomain.Core" base="q4:CommandBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CommonDomain.Core.Super.Messaging.ValueObjects" minOccurs="0" name="Period" nillable="true" type="q5:Intervall" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UpdateImpianto" nillable="true" type="tns:UpdateImpianto" />
</xs:schema>