Super/Web/UI_Web/Service References/ServiceAdministration/ServiceAdministration1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49528/ServiceAdministration.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Super.Administration.CommandService" />
  <xs:element name="Execute">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="composite" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Super.Administration.CommandService" minOccurs="0" name="ExecuteResult" nillable="true" type="q1:CommandResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>